body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 400px;
  margin: 20px auto;
}

li {
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  border-radius: 5px;
}

input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 90%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background: #d90ee4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  color: #d90ee4;
  background: #fff;
  border: solid 1px #96069d;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
